/* 
	To do: 
			;
*/

* {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
}

header {
	height: 4em;
}

body {
	background-color: black;
}

li {
	width: 25em;
    margin:0 auto;
    text-align:left;
   	list-style-type: none;
}

ul {
	font-size: 1.2em;
}

.quizTitle {
	line-height: 60px;
	width: 20em;
	background-color: gold;
	border-radius: 20px;
}

#quizApp {
	background-color: white;
	color: black;
	margin: .4em 8em 1em 8em;
	border-radius: 8px;
	padding: 15px;
}

.quizProgress {
	display: block; 
	text-align: right;
	color: blue;	
	padding: .3em;
}

.answerOptions {
	list-style-type: none;	
}

#submit-button {
	padding: .2em;
	margin: 0;
	font-size: 1.5em;
	text-align: right;
	border-radius: 8px;
}

.active .quiz {
	display: block;
}

.quiz, .active #start-button {
	display: none;
}

.hide {
	display: none;
}

#start-button {
	padding: 10px;
	font-size: 2em;
	margin: 2em;
	border-radius: 8px;
}

.currentQuestion {
	font-size: 1.5em;
}

#scoreboard {
	margin: 15px;
	padding: 10px;
	border-radius: 8px;
	text-align: right;
}

#play-again {
	background-color: gold;
	padding: 10px;
	font-size: 1.7em;
	margin: 2em;
	border-radius: 8px;
}

.finalScore {
	font-size: 2em;
}

#finalScore {
	background-color: white;
	color: black;
	margin: .4em 8em 1em 8em;
	border-radius: 8px;
	padding: 15px;
}






